#footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img_footer{
    filter: brightness(1.1);
    mix-blend-mode:lighten;
    margin-bottom: 50px;
    border-radius: 10px;
    align-content: right;
    align-items: right;
}

#fotos_redes{
    align-items: right;
}

#titulo_redes{
    text-align: right;
}

a:hover{
    text-decoration: none;
    color: darksalmon;
}

footer a{
    color: white;
}
#container {
    margin-bottom: 10px;
}
